html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


.ghost-menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  background: transparent;
  &__nav {
    width: 20%;
    cursor: pointer;
  }
  &__view-tables {
    width: 20%;
    background: #000;
    cursor: pointer;
  }
}


.nav-menu {
  position: absolute;
  display: none;
  background: white;
  &_active {
    display: block;
  }
}

.menu {
  padding-top: .5rem;
  &__item {
    height: 2rem;
    display: flex;
    flex-direction: row;
  }
  &__link {
    padding-right: 3rem;
    background: white;
    &_theme_grey {
      background: lightgrey;
    }
  }
  &__extra {
    display: none;
    &_theme_visible {
      display: block;
    }
  }
}
.menu__item:nth-child(1) .menu__extra .extra-menu .extra-menu__link {
  color: blue;
}
.menu__item:nth-child(2) .menu__extra .extra-menu .extra-menu__link {
  color: green;
}
.menu__item:nth-child(3) .menu__extra .extra-menu .extra-menu__link {
  color: red;
}
.menu__item:nth-child(4) .menu__extra .extra-menu .extra-menu__link {
  color: orange;
}
.menu__item:nth-child(5) .menu__extra .extra-menu .extra-menu__link {
  color: grey;
}

.extra-nav {
  margin-top: 2rem;
  display: none;
}

.extra-menu {
  z-index: 999;
  background: white;
  &__item {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  &_theme_grey {
    background: lightgrey;
  }
}

.goods {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  border: 2px solid grey;
  border-radius: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 1rem;
}

.card-product {
  width: 25%;
  box-sizing: border-box;
  padding: 0 .5rem 1rem .5rem;
  &__image {
    background: url('images/angle_grinder.jpg') grey no-repeat 50% 50%;
    height: 225px;
  }
  &__link {
    text-decoration: none;
    color: orange;
  }
  &__footer {
    display: flex;
    justify-content: space-around;
  }
  &__price {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    max-width: none;
  }

  .nav-menu {
    padding-top: 1rem;
  }

  .menu {
    &__item {
      height: auto;
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: flex;
      flex-direction: column;
    }
  }
  .extra-menu {
    &__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .card-product {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
  .container {
    max-width: none;
  }

  .nav-menu {
    padding-top: 1.5rem;
  }

  .menu {
    &__item {
      height: auto;
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: flex;
      flex-direction: column;
    }
  }
  .extra-menu {
    &__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .goods {
    max-width: 360px;
  }
  .card-product {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .nav-menu {
    padding-top: 1rem;
  }
  .card-product {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .card-product {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1440px) {
  .container {
    max-width: 960px;
    height: 1500px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .container {
    max-width: 1140px;
    height: 1500px;
  }

}


@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .container {
    max-width: 1400px;
    height: 1500px;
  }
}

@media only screen and (min-width: 1681px) {
  .container {
    max-width: 1680px;
    height: 1500px;
  }
  .card-product {
    width: 20%;
  }
}
