$color-shadow-modal-edit-window: grey;
$color-background: white;

html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}


.ghost-menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0;
  width: 100%;
  background: transparent;
  &__nav {
    height: 3rem;
    width: 15%;
    cursor: pointer;

  }
  &__view-tables {
    width: 20%;
    height: 3rem;
    cursor: pointer;
  }
}


.nav-menu {
  position: absolute;
  display: none;
  background: $color-background;
  &_active {
    display: block;
  }
}

.menu {
  padding-top: .5rem;
  &__item {
    height: 2rem;
    display: flex;
    flex-direction: row;
  }
  &__link {
    padding-right: 3rem;
    background: $color-background;
    &_theme_grey {
      background: lightgrey;
    }
  }
  &__extra {
    display: none;
    &_theme_visible {
      display: block;
    }
  }
}
.menu__item:nth-child(1) .menu__extra .extra-menu .extra-menu__link {
  color: blue;
}
.menu__item:nth-child(2) .menu__extra .extra-menu .extra-menu__link {
  color: green;
}
.menu__item:nth-child(3) .menu__extra .extra-menu .extra-menu__link {
  color: red;
}
.menu__item:nth-child(4) .menu__extra .extra-menu .extra-menu__link {
  color: orange;
}
.menu__item:nth-child(5) .menu__extra .extra-menu .extra-menu__link {
  color: grey;
}

.extra-nav {
  margin-top: 2rem;
  display: none;
}

.extra-menu {
  z-index: 999;
  background: $color-background;
  &__item {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  &_theme_grey {
    background: lightgrey;
  }
}

.goods {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  border: 2px solid grey;
  border-radius: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.draggable-element {
  width: 25%;
  box-sizing: border-box;
  cursor: grab;
  &_state_draggable {
    box-shadow: 0px 0px 10px darkblue;
    opacity: .2;
    cursor: grabbing;
  }
  &_theme_stopping-place {
    border: 3px dashed grey;

  }
  &_theme_table-view {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0rem .5rem 1rem .5rem;
  }
}

.card-product {
  width: auto;
  box-sizing: border-box;
  &_theme_table-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  &__image {
    background-size: cover;
    height: 225px;
    margin: 0;
    object-fit: cover;
    &_theme_table-view {
      width: 120px;
      height: 80px;
      margin-right: 1rem;
    }
  }
  &__header {
    &_theme_table-view {
      flex-basis: auto;
      padding-right: 1rem;

    }
  }
  &__link {
    text-decoration: none;
    color: orange;
  }
  &__description {
    display: block;
    &_theme_table-view {
      display: flex;
      justify-content: space-around;
    }
  }
  &__specifications {
    &_theme_table-view {
      flex-basis: auto;
      padding-right: 1rem;
    }
  }
  &__footer {
    display: flex;
  }
  &__price {
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  &__buy-button {
    cursor: pointer;
  }
}

.edit-field {
  display: none;
  box-shadow: 0px 0px 9px darken($color-shadow-modal-edit-window, 20%);
  border-radius: 5px;
  padding: 1rem;
  padding-top: 0.3rem;
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-background;
  &_active {
    display: block;
  }
  &__close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__desrc {
    margin-top: 5px;
  }
  &__submit-btn {
    font-weight: bold;
    cursor: pointer;
  }
  &__close-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    background: $color-background;
    padding: 3px 6px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px darken($color-shadow-modal-edit-window, 20%);
    cursor: pointer;
    &_clicked {
      box-shadow: 0px 0px 5px darken($color-shadow-modal-edit-window, 20%) inset;
    }
  }

}

@media only screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: none;
    min-height:  2000px;
  }

  .nav-menu {
    padding-top: 1rem;
  }

  .menu {
    &__item {
      height: auto;
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: flex;
      flex-direction: column;
    }
  }
  .extra-menu {
    &__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .draggable-element {
    width: 100%;
    box-sizing: border-box;
    cursor: grab;
    padding: .3rem;
    &_state_draggable {
      box-shadow: 0px 0px 10px darkblue;
      opacity: .2;
      cursor: grabbing;
    }
    &_theme_stopping-place {
      border: 1px dashed grey;

    }
    &_theme_table-view {
      width: auto;
    }
  }

  .card-product {
    &_theme_table-view {
      flex-wrap: wrap;
      height: auto;
    }
    &__image_theme_table-view {
      width: 90px;
      height: 60px;
      margin: 0;
    }
    &__header {
      &_theme_table-view {
        padding: 0;
        padding-left: 5px;
        flex-basis: 130px;
        overflow: hidden;
      }
    }
    &__description {
      &_theme_table-view {
        display: flex;
        justify-content: space-around;
      }
    }
    &__specifications {
      &_theme_table-view {
        padding: 0 5px 0 0;
      }
    }
  }
  .edit-field {
    width: 220px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: none;
    min-height:  2700px;
  }

  .nav-menu {
    padding-top: 1.5rem;
  }

  .menu {
    &__item {
      height: auto;
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: flex;
      flex-direction: column;
    }
  }
  .extra-menu {
    &__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .goods {
    max-width: 360px;
    padding: 0;
  }

  .draggable-element {
    width: 100%;
    padding: .3rem;
    &_state_draggable {
      box-shadow: 0px 0px 10px darkblue;
      opacity: .2;
      cursor: grabbing;
    }
    &_theme_stopping-place {
      border: 1px dashed grey;

    }
    &_theme_table-view {
      width: auto;
    }
  }

  .card-product {
    &_theme_table-view {
      flex-wrap: wrap;
      height: auto;
      flex-basis: 270px;
      margin: auto;
    }
    &__image_theme_table-view {
      width: 95px;
      height: 75px;
      margin: 0;
    }
    &__header {
      &_theme_table-view {
        flex-basis: 160px;
        padding: 0;
        padding-left: 5px;
      }
    }
    &__description {
      &_theme_table-view {
        display: flex;
        justify-content: space-between;
      }
    }
    &__specifications {
      &_theme_table-view {
        padding: 0 5px 0 0;
      }
    }
  }
  .edit-field {
    width: 240px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }

  .container {
    max-width: 540px;
    min-height: 2200px;
  }
  .nav-menu {
    padding-top: 1rem;
  }

  .draggable-element {
    justify-content: center;
    width: 50%;
    &_state_draggable {
      box-shadow: 0px 0px 10px darkblue;
      opacity: .2;
      cursor: grabbing;
    }
    &_theme_stopping-place {
      border: 2px dashed grey;
    }
    &_theme_table-view {
      width: auto;
    }
  }

  .card-product {
    &_theme_table-view {
      flex-wrap: wrap;
      height: auto;
      width: 80%;
      margin: auto;
      justify-content: flex-start;
    }
    &__image_theme_table-view {
      width: 100px;
      height: 100px;
      margin: 0;
    }
    &__header {
      &_theme_table-view {
        flex-basis: 200px;
        padding: 0;
        padding-left: 5px;
      }
    }
    &__specifications {
      &_theme_table-view {
        padding: 0 5px 0 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 720px;
    min-height: 1600px;
  }

  .draggable-element {
    justify-content: center;
    width: 33.3333%;
    &_theme_table-view {
      width: auto;
    }
  }

  .card-product {
    &_theme_table-view {
      height: auto;
      width: 100%;
    }
    &__image_theme_table-view {
      width: 80px;
      height: 50px;
      margin: 0;
    }
    &__header {
      &_theme_table-view {
        padding: 0;
        padding-left: 5px;
        margin: 0;
        margin-right: 10px;
        width: 120px;
        overflow: hidden;
      }
    }
    &__description {
      &_theme_table-view {
        display: flex;
        justify-content: space-around;
      }
    }
    &__specifications {
      &_theme_table-view {
        padding: 0 5px 0 0 ;
      }
    }
    &__price {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1440px) {

  html {
    font-size: 14px;
  }
  .container {
    max-width: 960px;
    min-height: 1500px;
  }


}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .container {
    max-width: 1140px;
    min-height: 1500px;
  }

}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .container {
    max-width: 1400px;
    min-height: 1500px;
  }

  .card-product {
    &_theme_table-view {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1681px) {
  .container {
    max-width: 1680px;
    min-height: 1500px;
  }

  .draggable-element {
    width: 20%;
    &_theme_table-view {
      width: 100%;;
    }
  }

  .card-product {
    &_theme_table-view {
      width: auto;
    }
  }
}
